<!DOCTYPE html>
<html lang="en">
<head>
 	<!--CODIFICAÇÃO UTF8-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--DEFINIÇÃO DE WIDTH PARA MOBILES-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <title>| <?=SIS_NOME." - ".SIS_VERSAO?></title>
    <?=$view->print_head($CONFIG_PLUGIN)?>

<body class="theme-blue">

<?php
	include(SIS_SRC_APP."fatias/topo.php");
?>

<!--CONTEUDO DA VIEW-->
<div class="content" style="margin-left:0">
    <div class="main-content"> 
        <div class="destaqueShadow bordaCinza" id="ctPrincipal" style="padding-left:20px; padding-top:0">
             <div class="row ">
             	 <div class="col-xs-12 col-md-6">
                    <img src="<?=SIS_URL_APP?>images/master/erro.png" />
                 </div>
                 <div class="col-xs-12 col-md-6">
                 <h1> Ops !</h1>
                    <h2><?=$msgErro?></h2>
                    <small>Tente novamente ou contate o suporte técnico.</small>
                </div>
             </div>
        </div>
    </div>
 </div>

</body>
</head>
</html>